---
# Main sass file of takacsmark.com
---
// Globals
$topbar-background: rgb(250, 250, 251);
$topbar-submenu-background: $topbar-background;
$tmdc-light-green: #82C928;
$tmdc-dark-green: #588E14;
$tmdc-light-blue: #0099FF;
$tmdc-dark-blue: #336699;
$tmdc-yellow: #FFFF00;
$tmdc-purple:#604C8D;
$tmdc-orange: #EC5E52;
$tmdc-pink: #E56284;
$tmdc-dark-grey: #333333;
$tmdc-red-highlight: #F22918;
$tmdc-red-highlight-hover: #D5291B;

// Import dependencies
@import "foundation-sites/scss/foundation";
// @import "syntax-highlighting";
@import "syntax.css";
@import "foundation-icons/foundation-icons.css";
@include foundation-everything;

// Set up font face
$font-path: "foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

//
// Site header and navigation
//
.site-header {
    background-color: $topbar-background;
    height: 3em;
}

.top-bar {

    padding-bottom: 0;

    .top-bar-title {
        margin-top: .45em;
    }

    @media screen and (max-width: 39.9375em) {
        .top-bar-title span {
            text-align: center;
        }
    }

    ul.menu li a {
        font-size: .9em;
        margin-top: 2px;
    }
}

//
// Main screen greeting box with slider
//
.greeting-box {
    position: relative;
    overflow: hidden;

    .greeting-label {
        position: absolute;
        left: .2em;
        bottom: .1em;

        img {
            max-height: 3em;
            width: auto;
            border: solid .05em white;
            border-radius: .05em;
            margin-bottom: .2em;
        }

        span {
            padding: 0em .2em 0em .2em;
            margin-bottom: .1em;
            color: white;
            font-weight: 600;
            font-size: .95em;
            line-height: 1em;
        }       

        &.offscreen {
            left: -1000px !important;
        }

        &.slidein {
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            left: .2em !important;
        }

        &.slideout {
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            left: -1000px !important;
        }



        &#docker-book {
            left: .2em;

            img {
                max-height: 7em;
                border: none;
            }

            span {
                background-color: $tmdc-light-blue;
            }

        }

        &#dockerfile-tutorial {
            span {
                background-color: $tmdc-dark-blue;
            }
        }

    }

    @media screen and (min-width: 376px) {
        font-size: 1.2em;        
        line-height: 1.3em;
    }

    /* Medium low range */
    @media screen and (min-width: 40em) {
        font-size: 2em;
    }

    /* Medium higer end */
    @media screen and (min-width: 49em) {
        font-size: 2.5em;
    }

    /* Large */
        @media screen and (min-width: 64em) {
        font-size: 3.2em;
    }

    /* Larger */
    @media screen and (min-width: 75em) {
        font-size: 3.6em;
    }

}

//
// Home page post listing
//
.card {
    margin-top: 1em;

    .thumbnail {
        width: 100%;
        height: 11em;
        object-fit: cover;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
    }

    .info {
        background-color: white;
        padding-left: .5em;
        padding-right: .5em;
        padding-top: .5em;
    }

    p {
        color: $body-font-color;
    }

    h2 {
        margin-top: 0;
        font-size: 1.3em;
        font-weight: 500;
        color: $body-font-color;
        overflow: hidden;
    }

    .description{
        font-size: .9em;
        overflow: hidden;
    }

    .meta {
        font-size: .8em;
        color: $dark-gray;
    }

    @media screen and (min-width: 40em) {
        h2 {
            height: 4.5em;
        }

        .description{
            height: 8em;
        }

        .meta {
            height: 2em;
        }
    }

    @media screen and (min-width: 64em) {
        padding-left: 0;
    }
}

//
// Sidebar
//
.sidebar.callout {
    margin-top: 1em;
    background-color: $white;
    margin-left: 3em;

    font-size: 0.7rem;
    border: solid 1px rgb(230, 230, 231);

    padding-left: .5em;
    padding-right: .5em;

    .sidebar-title {
        color: $dark-gray;
        color: $black;
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: 1em;
    }

    li {
        margin-bottom: 1em;
        line-height: 1.2em;
    }

    .buy-btn {
        width: 100%;
        margin-top: 1em;
        font-size: 1.3em;
    }
    
    &.book {

        ul {
            margin-top: 1em;
        }

        span {
            padding-top: 2em;
            color: $tmdc-dark-blue;
            font-weight: 600;
            font-size: 1.5em;
            line-height: 1.2;
        }
    }

}

.sidebar.social i {
    font-size: 2.2em;
    margin-right: .2em;
}

.sidebar.recommended-courses {
    i {
        color: $tmdc-red-highlight;
    }
    a {
        color: $black;
    }

}

.sidebar.learning-sites {
    img {
        width: 45%;
        height: 4em;
        object-fit: contain;
        margin-right: 5%;
        float: left;
    }
}

//
// Post content
//
article{
    .thumb {
        object-fit: cover;
        width: 100%;
        border: none;
        box-shadow: none;
        max-height: 16em;

        @media screen and (min-width: 40em) {
            max-height: 38em;
        }
    }

    .post-author-img{
        margin-top: 1em;
    }

    h2,h3,h4 {
        margin-top: 2em;
    }

    @media screen and (min-width: 40em) {
        h2,h3,h4 {
            margin-top: 1em;
        }
    }

    .post-meta {
        font-size: .8em;
    }

    .gallery {
        margin-bottom: .5em;
    }
}

.fb-share-button {
    top: -6px;
}

.highlight {
    border-radius: 10px;
    padding: 8px 8px 8px 1.2em;
    margin-bottom: 1em;

    code {
        background-color: transparent;
        border: none;
        color: inherit;
        // font-size: .8em;
    }
}



//
// Footer
//
footer {
    margin-top: 2em;
    padding-top: 2em;
    background-color: rgb(30,30,31);
    color: $white;

    .footer-copyright {
        background-color: $black;
        font-size: .75em;
    }
}

//
// Docker book landing page
//
#docker-book-landing-header {
    background-image: url("/assets/images/in-content/get-started-with-docker-in-your-projects-through-examples.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain; 

    height: auto;

    h1 {
        margin-top: 15em;
        font-weight: 600;

    }

    h5 {
        margin-top: 2em;
    }

    h1, h5 {
        width: 100%;
    }

    div.dpd-large {
        margin-top: 1em;
        // font-size: 1em;
    }

    @media screen and (min-width: 376px) {
       
        h1 {
            margin-top: 17em;
        }

        h1, h5 {
            width: 100%;
        }

        div.dpd-large {
            margin-top: 1em;
            // font-size: 1em;
        }
    }

    /* Medium low range */
    @media screen and (min-width: 40em) {
        h1 {
            margin-top: 20em;
        }
    }

    /* Large */
    @media screen and (min-width: 64em) {

        height: 761px;

        h1, h5, div.dpd-large {
            margin-top: 2em;
            width: 55%;
        }

        h5 {
            width: 35%;
        }
        
        div.dpd-large {
            // width: auto;
            margin-top: 4em;
            // font-size: 1.2em;
        }

    }
}

#docker-book-landing-middle {
    background-image: url("/assets/images/in-content/yellow-stripe.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 

    margin-top: -100px;

    h2 {
        margin-bottom: 1em;
    }

    li {
        font-size: 1.1em;
        margin-bottom: .5em;
    }

    div:nth-of-type(2) {
        ul {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 376px) {
        h2 {
            font-weight: 500;
        }

    }


}

.docker-book-landing-buttonline {
    div.dpd-large {
        margin-top: 1em;
        // font-size: 1em;
        margin-bottom: 1em;
    
        @media screen and (min-width: 64em) {
            margin-top: 4em;
            // font-size: 1.2em;
        }
    }
}


//
// Docker book promo
//
.book-promo-portrait {

    margin-top: 1em;
    margin-bottom: 1em;

    div {
        // background-color: rgba(0,0,0,.03);
        padding-left: 0;
        padding-right:0;
    }

    img {
        // max-height: 8em;
        // width: auto;
    }

    span {
        padding: 0em .5em 0em .5em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: $tmdc-dark-blue;
        font-weight: 600;
        display: block;
        // font-size: 1.5em;
        // line-height: 1em;
    }     

    .buy-btn {
        // font-size: 1em;
        box-shadow: none;
        // margin-top: 0;
    }

    @media screen and (min-width: 376px) {
       

    }

    /* Medium low range */
    @media screen and (min-width: 40em) {

    }


    /* Large */
    @media screen and (min-width: 64em) {
        margin-top: 3em;
        margin-bottom: 2em;
    
        div {
            background-color: rgba(0,0,0,.03);
            height: 80%;
            padding-left: 0;
            padding-right:0;
        }
    
        img {
            max-height: 5em;
            width: auto;
            // margin-bottom: .2em;
        }
    
        span {
            padding: 0em 1.5em 0em 1.5em;
            margin-bottom: .1em;
            font-size: 1.3em;
            line-height: 1em;
            display: inline-block;
        }     
    
        .buy-btn {
            font-size: .9em;
            margin-top: 0;
        }

    }

    /* Larger */
    @media screen and (min-width: 75em) {
        span {
            font-size: 1.5em;
        }     
    }
}

//
// Call to action button RED
//
.buy-btn {
    // width: 25%;
    // margin-top: 4em;
    // font-size: 1.2em;

    background-color: $tmdc-red-highlight; 
    border: none;
    color: white;
    font-weight: 500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buy-btn:hover {
    background-color: $tmdc-red-highlight-hover;
}

.fi-check.green {
    color: $tmdc-light-green;
}