/****************************************
 * Color scheme for takacsmark.com
 * 
 * created by Mark Takacs
 * on April 27, 2020
 ***************************************/

//grays
$tmdc-gray-1: #f7f7f8;
$tmdc-gray-2: rgba(0, 0, 0, .2);
$tmdc-gray-3: rgba(0, 0, 0, .3);
$tmdc-gray-4: rgba(0, 0, 0, .4);
$tmdc-gray-5: rgba(0, 0, 0, .5);
$tmdc-gray-6: rgba(0, 0, 0, .6);
$tmdc-gray-7: rgba(0, 0, 0, .7);
$tmdc-gray-8: rgba(0, 0, 0, .8);
$tmdc-gray-9: #141416;

//dark

//bright

//muted
$tmdc-light-green: #82C928; 
$tmdc-ligh-blue: #0099FF;
