/****************************************
 * Custom Styles for  takacsmark.com
 * 
 * created by Mark Takacs
 * on April 27, 2020
 ***************************************/

/******************************
 * Bootstrap overrides
 *****************************/
$enable-responsive-font-sizes: true;
//Increases lg and xl breakpoint values to accomodate fixed full height left sidebar
$grid-breakpoints: (
    xs: 0,
    //default
        sm: 576px,
    //default
        md: 768px,
    //default
        lg: 1040px,
    //increased
        xl: 1400px //increased
);
//Sets body background color
$body-bg: #f8f9fa;
//List groups are used in sidebar only
//Customizes list groups sitewide
$list-group-bg:                     transparent;
$list-group-border-width:           0;
$list-group-border-radius:          0; 
$list-group-item-padding-y:         .5rem;
$list-group-hover-bg:               #dee2e6;

/******************************
 * Bootstrap imports
 *****************************/
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "button-group";
// @import "input-group";
// @import "custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
// @import "breadcrumb";
// @import "pagination";
@import "../node_modules/bootstrap/scss/badge";
// @import "jumbotron";
// @import "alert";
// @import "progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/utilities";
// @import "print";

/******************************
 * Navbar styling
 ******************************/
//Removes border around hamburger menu
.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

/******************************
 * Sidebar styling
 ******************************/
//Styles full width fixed sidebar
#sidebar {
    flex: 0 0 240px; //sets width to 240px using flex
    background-color: $gray-200;

    //sets up full height sidebar
    height: calc(100vh - 60px);
    top: 60px;

    //sets up content height to accomodate social icons always aligned to end
    #sidebar-content {
        max-height: calc(100vh - 134px);
    }

    //sets listgroup item height a bit lower than default
    .list-group-horizontal .list-group-item {
        padding: 0.75rem 0.5rem;
    }
}

/******************************
 * Index page styling
 ******************************/
//Styles carousel on index page
.carousel {
    //Makes carousel narrower than default
    .carousel-inner {
        max-width: 750px;
    }
    //Sets height to make carousel look about 21x9 movie
    .carousel-item {
        height: 300px;
        background-color: white;
    }
    //We use cards to layout content
    //Removes card borders
    .card,
    .card-img {
        border: none;
        border-radius: 0px;
    }
    //Sets arrow color darker
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(40%);
    }
}

//Styles post listing on index page
#post-listing {
    //We use cards to display posts in list
    //Sets background color same as body background
    .card {
        background-color: $gray-100;
    }
    //Makes post description less black
    .post-description {
        color: $gray-800;
    }
    //Sets view count badge background color
    .badge {
        background-color: $gray-300;
    }
}

/******************************
 * Post content styling
 ******************************/
// Inline sponsored links
.inline-sponsored {
    background-color: white;

    img {
        max-width: 64px;
        max-height: 64px;
    }
}

article pre > code {
    max-width: 726px;
}

.container {
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}
