/****************************************
 * Custom Styles for  takacsmark.com
 * 
 * created by Mark Takacs
 * on April 27, 2020
 ***************************************/

/******************************
 * Bootstrap overrides
 *****************************/
//@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');
// Default serif font
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
// Default sans serif font
//@import "../node_modules/charter-webfont/charter.css";
// takacsmark.com nav brand handwriting font
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: "Libre Baskerville", "Charter", serif !default;
$font-family-base: $font-family-serif !default;
$enable-responsive-font-sizes: true;

$line-height-base: 1.6 !default;

/******************************
 * Bootstrap imports
 *****************************/
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "button-group";
// @import "input-group";
// @import "custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
// @import "breadcrumb";
// @import "pagination";
@import "../node_modules/bootstrap/scss/badge";
// @import "jumbotron";
// @import "alert";
// @import "progress";
@import "../node_modules/bootstrap/scss/media";
//@import "../node_modules/bootstrap/scss/list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/utilities";
// @import "print";

/******************************
 * Custom styling
 *****************************/
// Sets link formatting in articles and sidebar, all the rest is default Bootstrap
article a, #invitation a {
    color: theme-color("dark") !important;
    text-decoration: underline !important;
}
// Sets main page greeting background color
.navbar, #site-greeting {
    background-color: #F59A44 !important;
}

.navbar {
    font-family: $font-family-sans-serif;
}
// Removes border around hamburger menu
.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}
// Formats main page site greeting
#site-greeting {
    height: 25rem;
    margin-bottom: 5rem;
    
    #greeting-img-container {
        border-radius: 1rem;
        border: solid .5rem white;

        width: 75%; 
        margin-top: 1.5rem;
        margin-bottom: -2rem;

        @include media-breakpoint-up(sm) {
            width: 50%;
        }

        @include media-breakpoint-up(md) {
            width: 80%;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
            margin-bottom: -4rem;
        }
    }
}

// Styles post listing on index page
#post-listing {
    //Sets view count badge background color
    .badge {
        background-color: $gray-300;
    }
}
// Styles invitation
#invitation {
    font-family: $font-family-sans-serif;
    background-color: $gray-100;
    
    img {
        max-width: 52px;
    }
}

/******************************
 * Post content styling
 ******************************/
article {
    h2, h3, h4, h5, h6 {
        font-family: 'Barlow', sans-serif;
        margin-top: 3rem;
    }

    h1 {
        margin-bottom: 1rem;    
    }

    p {
        margin-top: 2rem;
    }

    .author-photo {
        border-radius: 50%;
    }

    div[itemprop=author], time[itemprop=datePublished], #view-count {
        font-family: $font-family-sans-serif;
    }

}
// Styles inline sponsored links in articles
.inline-sponsored {
    background-color: white;

    img {
        max-width: 64px;
        max-height: 64px;
    }
}
// Styles code in articles
article pre > code {
    max-width: 726px;
}
