---
layout: default
---
<section class="row expanded greeting-box">
    <div class="small-8 medium-9 large-12 columns greeting-label"><i class="fi-paw"></i> Adventures in a digital world</div>
    <img src="assets/images/site-greeting/mark-takacs-home.jpg" alt="">
</section>

<section class="row">
    <!--  Main content -->
    <section class="small-12 large-9 columns">
        <div class="row">
            {% for post in site.posts %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="small-12 medium-4 columns card">
                <div>
                    {% assign pl = post.thumbnail | size | minus: 4 %}
                    <img class="thumbnail" src="{{ site.url }}{{ post.thumbnail | slice: 0, pl }}_570{{ post.thumbnail | slice: -4, 4 }}" alt="{{ post.title }}">
                </div>
                <div class="info">
                    <h2>{{ post.title }}</h2>
                    <p class="description">{{ post.description }}</p>
                    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
                    <hr>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <!--  Sidebar -->
    <section class="large-3 columns show-for-large">
        {% include sidebar.html %}
    </section>
</section>
