---
layout: default
---
<!-- Greeting Box -->
<div class="container p-0">
  <div class="row">
    <div class="col">

      <div class="card bg-dark text-white border-white rounded-0">
	<img src="/assets/images/site-greeting/mark-blue-shirt-wide.jpg" class="card-img rounded-0" alt="...">
	<div class="card-img-overlay">
	  <h1 class="card-title">Learn Docker with Mark</h1>
	  <a href="/get-started-with-docker-in-your-projects-through-examples" class="btn btn-light">Get the Book</a>
	</div>
      </div>

    </div>
  </div>
</div>
<!-- End Greeting Box -->

<!-- Main Content -->
<div class="container">
  <div class="row">

    {% for post in site.posts %}
    <div class="col-12">
      <a href="{{ post.url | prepend: site.baseurl }}">

	<div class="card border-white">
	  {% assign pl = post.thumbnail | size | minus: 4 %}
	  <img class="card-img-top rounded-0" src="{{ site.url }}{{ post.thumbnail | slice: 0, pl }}_570{{ post.thumbnail | slice: -4, 4 }}" alt="{{ post.title }}">
	  <div class="card-body">
	    <h2 class="card-title">{{ post.title }}</h2>
	    <p class="card-text">{{ post.description }}</p>
	    <p class="card-text"><small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small></p>
	  </div>
	</div>
      </a>
    </div>
    {% endfor %}

  </div>
</div>
<!-- End Main Content -->

<!-- Sidebar -->
<div class="container d-none">
  <div class="row">
    <div class="col-12">
      {% include sidebar.html %}
    </div>
  </div>
</div>
<!-- End Sidebar -->
