<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="h6 font-weight-bold">Free Docker Course</div>
        </div>
    </div>
    <div class="row">
        {% for item in site.data.docker-course.items %} {% assign pl =
        item.image | size | minus: 4 %}
        <div class="col col-12 col-sm-6 col-md-3">
            <div class="media pr-3 position-relative">
                <img
                    src="{{ site.url }}{{ item.image | slice: 0, pl }}_300{{ item.image | slice: -4, 4 }}"
                    class="mr-3 mb-3 w-25"
                    alt="{{ item.title }}"
                />
                <div class="media-body">
                    <h6 class="mt-0">{{ item.order }}. {{ item.title }}</h6>
                    <a
                        href="{{ item.url | prepend: site.baseurl }}"
                        class="stretched-link"
                    ></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
