<footer class="row expanded">
    <section class="row">
        <div class="small-12 medium-4 columns">
            <h4><i class="fi-megaphone"></i> Contact Me</h4>

            <ul class="no-bullet">
                {% if site.linkedin_username %}
                <li>
                    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                        <i class="fi-social-linkedin"></i>
                        <span>{{ site.linkedin_username }}</span>
                        <!--[if lt IE 9]><em>LinkedIn</em><![endif]-->
                    </a>
                </li>
                {% endif %}

                {% if site.facebook_page %}
                <li>
                    <a href="https://facebook.com/{{ site.facebook_page }}">
                        <i class="fi-social-facebook"></i>
                        <span>{{ site.facebook_page }}</span>
                        <!--[if lt IE 9]><em>Facebook</em><![endif]-->
                    </a>
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="fi-social-twitter"></i>
                        <span>{{ site.twitter_username }}</span>
                    </a>
                </li>
                {% endif %}

                {% if site.youtube_channel %}
                <li>
                    <a href="https://youtube.com/{{ site.youtube_channel}}">
                        <i class="fi-social-youtube"></i>
                        <span>{{ site.youtube_channel }}</span>
                        <!--[if lt IE 9]><em>Youtube</em><![endif]-->
                    </a>
                </li>
                {% endif %}

                {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <i class="fi-social-github"></i>
                        <span>{{ site.github_username }}</span>
                    </a>
                </li>
                {% endif %}

                {% if site.instagram_username %}
                <li>
                    <a href="https://instagram.com/{{ site.instagram_username }}">
                        <i class="fi-social-instagram"></i>
                        <span>{{ site.instagram_username}}</span>
                        <!--[if lt IE 9]><em>Instagram</em><![endif]-->
                    </a>
                </li>
                {% endif %}

                {% if site.googleplus_username %}
                <li>
                    <a href="https://plus.google.com/{{ site.googleplus_username }}">
                        <i class="fi-social-google-plus"></i>
                        <span>{{ site.googleplus_username }}</span>
                        <!--[if lt IE 9]><em>Google Plus</em><![endif]-->
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="{{ site.url }}/feed.xml">
                        <i class="fi-rss"></i>
                        <span>rss</span>
                        <!--[if lt IE 9]><em>RSS</em><![endif]-->
                    </a>
                </li>

                {% if site.email %}
                <li>
                    <a href="mailto:{{ site.email }}">
                        <i class="fi-mail"></i>
                        <span>{{ site.email }}</span>
                        <!--[if lt IE 9]><em>Email</em><![endif]-->
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="small-12 medium-4 columns">
            <h4><i class="fi-like"></i> Like the Facebook Page</h4>

            <div class="fb-page" data-href="https://www.facebook.com/takacsmarkdotcom/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/takacsmarkdotcom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/takacsmarkdotcom/">takacsmark.com</a></blockquote></div>
        </div>

        <div class="small-12 medium-4 columns">
            <h4><i class="fi-paw"></i> Adventures in a Digitial World</h4>

            <p>{{ site.description }}</p>
        </div>

    </section>

    <section class="row expanded footer-copyright">
        <div class="columns">
            <p>&copy; 2011 - {{ site.time | date: '%Y' }} {{ site.title }} - hosted on <a href="https://pages.github.com/" target="_blank">Github pages</a> - created with <a href="https://jekyllrb.com/">Jekyll</a></p>
        </div>
    </section>
</footer>
