<div class="title-bar"id="main-navigation" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
            <li class="menu-text">takacsmark.com</li>
            <li><a href="/">Home</a></li>
            <li><a href="/get-started-with-docker-in-your-projects-through-examples">Get the Docker book!</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</div>
