<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N9XNNB9');</script>
    <!-- End Google Tag Manager -->

    <!-- Site Meta DO NOT CHANGE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% assign pl = page.thumbnail | size | minus: 4 %}
    <meta property="og:image" content="{% if page.thumbnail %}{{ site.url }}{{ page.thumbnail | slice: 0, pl }}_960{{ page.thumbnail | slice: -4, 4 }}{% endif %}" />
    <!-- End Site Meta DO NOT CHANGE-->

    <!-- External Apps TODO Cleanup -->
    <meta property="fb:app_id" content="730731577062449" />
    <meta name="google-site-verification" content="2DFgqqJVnbuSGjOdyKJZFbGKPGHqu99tt4aBBmbuiKc" />
    <!-- End External Apps TODO Cleanup -->

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <!-- End RSS Feed -->

    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ "/assets/custom.css" | prepend: site.baseurl | prepend: site.url }}">
    <!-- End Site CSS -->
</head>
