<section class="row column merchandise">
    <div class="title">
        <a href="https://teespring.com/stores/takacsmark" target="_blank">
          <h1><b>NEW!</b> Get funny coding stickers, t-shirts, mugs and more designed by Mark.</h1> 
        </a>
    </div>
    <div class="merch-image">
        <a href="https://teespring.com/stores/takacsmark" target="_blank">
            <div class="show-for-small-only"><img src="{{ site.url }}/assets/images/in-content/merch-mobile.png"></img></div>
            <div class="show-for-medium-only"><img src="{{ site.url }}/assets/images/in-content/merch-tablet.png"></img></div>
            <div class="hide-for-small-only hide-for-medium-only"><img src="{{ site.url }}/assets/images/in-content/merch-desktop.png"></img></div>
        </a>
    </div> 
    <div>
        <a href="https://teespring.com/stores/takacsmark" target="_blank" class="button center">Visit the shop</a>
    <div>
</section>
