<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}"
        <span style="font-family: Dancing Script, cursive; font-weight: 700;">takacsmark.com</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  mr-1 text-black font-weight-bolder">
          <a
            class="nav-link"
            href="/get-started-with-docker-in-your-projects-through-examples"
            >Docker Book</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
           More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about/"
              >About</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/terms-of-service/"
              >Terms of Service</a
            >
            <a class="dropdown-item" href="/privacy-policy/">Privacy Policy</a>
            <a class="dropdown-item" href="/return-refund-policy/"
              >Return and Refund Policy</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/cookie-settings/"
              >Cookie Settings</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/mailing-list-signup/"
              >Mailing List</a
            >
            <a
              class="dropdown-item"
              target="_blank"
              href="https://discord.gg/KxaQd4W"
              >Discord Discussion</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
