<section class="sticky" data-sticky data-anchor="post-content">
    <div class="row callout sidebar secondary mailinglist">
        <div class="columns">
            <p class="sidebar-title">Regular learning updates</p>
            <div id="mc_embed_signup">
            <form action="https://savalera.us3.list-manage.com/subscribe/post?u=ced6e070ab6dca9ddc1f65334&amp;id=3983723c21" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Join the mailing list</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ced6e070ab6dca9ddc1f65334_3983723c21" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
        </div>
    </div>
    
    <div class="row callout sidebar secondary book">
        <div class="columns">
            <p class="sidebar-title">From zero to project fluency!</p>
            <a href="/get-started-with-docker-in-your-projects-through-examples/">
                <img src="/assets/images/in-content/summer-sale-vertical.png" alt="Get started with Docker in your projects through exmples icon">
                <ul class="no-bullet">
                    <!-- <li><span>Learn Docker from the basics to cloud clusters in one book.</span></li>
                    <li><span>Well paced, gradual approach.</span></li>
                    <li><span>Special project focus.</span></li>
                    <li><span>Built on code-along examples.</span></li> -->
                    <li><button class="buy-btn">Get the book!</button></li>
                </ul>
            </a>
        </div>
    </div>
        
    <div class="row callout sidebar secondary recommended-courses">
        <div class="columns">
            <p class="sidebar-title">Build your career with onilne courses</p>
            <ul class="no-bullet">
                <li><a target="_blank" href="https://www.udemy.com/docker-mastery/"><i class="fi-play"></i> Docker Mastery: The Complete Toolset From a Docker Captain</a></li>
                <li><a target="_blank" href="https://www.udemy.com/learn-docker/"><i class="fi-play"></i> Docker for the Absolute Beginner - Hands On</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/google-it-support"><i class="fi-play"></i> Google IT Support Professional Certificate</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/python"><i class="fi-play"></i> Python for Everybody Specialization</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/data-structures-algorithms"><i class="fi-play"></i> Data Structures and Algorithms</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/jhu-data-science"><i class="fi-play"></i> Data Science Specialization</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/machine-learning"><i class="fi-play"></i> Machine Learning Specialization</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/cloud-solutions-architect-masters-program-training "><i class="fi-play"></i> Cloud Architect (AWS & Azure)</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/devops-engineer-masters-program-certification-training"><i class="fi-play"></i> DevOps Architect</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/artificial-intelligence-masters-program-training-course"><i class="fi-play"></i> Artificial Intelligence Engineer</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/automation-testing-masters-program-certification-training-course"><i class="fi-play"></i> Automation Test Engineer</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row callout sidebar secondary learning-sites">
        <div class="columns">
            <p class="sidebar-title">Affordable on-line learning resources</p>
            <ul class="no-bullet">
                {% for item in site.data.promos.online-learning-resources.items %}
                <li>
                    <a href="{{ item.url }}" target="_blank">
                        <img src="{{ item.image }}"/>
                    </a>
                </li>
                <li>
                    <a href="{{ item.url }}" target="_blank">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>            
        </div>
    </div>
    
    <div class="row sidebar secondary">
        <div class="columns">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-2982733536601669",
                        enable_page_level_ads: true
                    });
            </script>        
        </div>
    </div>

</section>
