<section class="sticky" data-sticky data-anchor="post-content">
    <div class="row column callout sidebar secondary mailinglist">
        <div class="columns">
            <p class="sidebar-title">Regular learning updates</p>           
            <a href="/mailing-list-signup" class="button">Join the mailing list</a>
        </div>
    </div>
    
    <div class="row column callout sidebar secondary">
        <div class="columns">
            <p class="sidebar-title">Join the discussion!</p>           
	    <a href="https://discord.gg/KxaQd4W" target="_blank"><img class="discord-logo" src="{{ site.url }}/assets/images/discord-logo.svg" alt="Discord logo"></img></a> 
        </div>
    </div>

    <div class="row column callout sidebar secondary book">
        <div class="columns">
            <p class="sidebar-title">From zero to project fluency!</p>
            <a href="/get-started-with-docker-in-your-projects-through-examples/">
                <img src="/assets/images/in-content/Summersale.png" alt="Get started with Docker in your projects through exmples">
                <ul class="no-bullet">
                    <li><button class="buy-btn">Get the book!</button></li>
                </ul>
            </a>
        </div>
    </div>


    <div class="row column callout sidebar secondary">
        <div class="columns">
          <p class="sidebar-title"><b>NEW!</b> funny stickers, t-shirts and more designed by Mark</p>           
	  {% include merchandise.html %}
        </div>
    </div>

    
    <!-- <div class="row callout sidebar secondary recommended-courses">
        <div class="columns">
            <p class="sidebar-title">Build your career with onilne courses</p>
            <ul class="no-bullet">
                <li><a target="_blank" href="https://www.udemy.com/docker-mastery/"><i class="fi-play"></i> Docker Mastery: The Complete Toolset From a Docker Captain</a></li>
                <li><a target="_blank" href="https://www.udemy.com/learn-docker/"><i class="fi-play"></i> Docker for the Absolute Beginner - Hands On</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/google-it-support"><i class="fi-play"></i> Google IT Support Professional Certificate</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/python"><i class="fi-play"></i> Python for Everybody Specialization</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/data-structures-algorithms"><i class="fi-play"></i> Data Structures and Algorithms</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/jhu-data-science"><i class="fi-play"></i> Data Science Specialization</a></li>
                <li><a target="_blank" href="https://www.coursera.org/specializations/machine-learning"><i class="fi-play"></i> Machine Learning Specialization</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/cloud-solutions-architect-masters-program-training "><i class="fi-play"></i> Cloud Architect (AWS & Azure)</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/devops-engineer-masters-program-certification-training"><i class="fi-play"></i> DevOps Architect</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/artificial-intelligence-masters-program-training-course"><i class="fi-play"></i> Artificial Intelligence Engineer</a></li>
                <li><a target="_blank" href="https://www.simplilearn.com/automation-testing-masters-program-certification-training-course"><i class="fi-play"></i> Automation Test Engineer</a></li>
            </ul>
        </div>
    </div>
     -->
    <!-- <div class="row callout sidebar secondary learning-sites">
        <div class="columns">
            <p class="sidebar-title">Affordable on-line learning resources</p>
            <ul class="no-bullet">
                {% for item in site.data.promos.online-learning-resources.items %}
                <li>
                    <a href="{{ item.url }}" target="_blank">
                        <img src="{{ item.image }}"/>
                    </a>
                </li>
                <li>
                    <a href="{{ item.url }}" target="_blank">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>            
        </div>
    </div> -->
  
</section>
