<div class="row callout sidebar secondary social">
    <div class="columns">
        <p class="sidebar-title">Let's talk</p>

        <div class="text-center">
            <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fi-social-linkedin"></i>
            </a>

            <a target="_blank" href="https://facebook.com/{{ site.facebook_page }}">
                <i class="fi-social-facebook"></i>
            </a>

            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fi-social-twitter"></i>
            </a>

            <a target="_blank" href="https://youtube.com/{{ site.youtube_channel}}">
                <i class="fi-social-youtube"></i>
            </a>

            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                <i class="fi-social-github"></i>
            </a>

            <a target="_blank" href="https://plus.google.com/{{ site.googleplus_username }}">
                <i class="fi-social-google-plus"></i>
            </a>
        </div>
    </div>
</div>

<div class="row callout sidebar secondary">
    <div class="columns">
        <p class="sidebar-title">Subscribe to my Youtube channel and learn for free</p>

        <div class="text-center">
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UCNaxXS9VOYKyVbT--ctbHEA" data-layout="default" data-count="default"></div>
        </div>
    </div>
</div>


<div class="row callout sidebar secondary book">
    <div class="columns">
        <p class="sidebar-title">Learn with me!</p>
        <a href="get-started-with-docker-in-your-projects-through-examples/">
            <img src="/assets/images/in-content/get-started-with-docker-in-your-projects-through-examples-icon.png" alt="Get started with Docker in your projects through exmples icon">
            <ul class="no-bullet">
                <li><span>From the basics to cloud clusters in one book.</span></li>
                <li><span>Well paced, gradual approach.</span></li>
                <li><span>Special project focus.</span></li>
                <li><span>Built on code-along examples.</span></li>
                <li><button class="buy-btn">Get the book!</button></li>
            </ul>
        </a>
    </div>
</div>


<div class="row callout sidebar secondary recommended-courses">
    <div class="columns">
        <p class="sidebar-title">Build your career with onilne courses</p>
        <ul class="no-bullet">
            <li><a target="_blank" href="https://www.udemy.com/docker-mastery/"><i class="fi-play"></i> Docker Mastery: The Complete Toolset From a Docker Captain</a></li>
            <li><a target="_blank" href="https://www.udemy.com/learn-docker/"><i class="fi-play"></i> Docker for the Absolute Beginner - Hands On</a></li>
            <li><a target="_blank" href="https://www.coursera.org/specializations/google-it-support"><i class="fi-play"></i> Google IT Support Professional Certificate</a></li>
            <li><a target="_blank" href="https://www.coursera.org/specializations/python"><i class="fi-play"></i> Python for Everybody Specialization</a></li>
            <li><a target="_blank" href="https://www.coursera.org/specializations/data-structures-algorithms"><i class="fi-play"></i> Data Structures and Algorithms</a></li>
            <li><a target="_blank" href="https://www.coursera.org/specializations/jhu-data-science"><i class="fi-play"></i> Data Science Specialization</a></li>
            <li><a target="_blank" href="https://www.coursera.org/specializations/machine-learning"><i class="fi-play"></i> Machine Learning Specialization</a></li>
            <li><a target="_blank" href="https://www.simplilearn.com/cloud-solutions-architect-masters-program-training "><i class="fi-play"></i> Cloud Architect (AWS & Azure)</a></li>
            <li><a target="_blank" href="https://www.simplilearn.com/devops-engineer-masters-program-certification-training"><i class="fi-play"></i> DevOps Architect</a></li>
            <li><a target="_blank" href="https://www.simplilearn.com/artificial-intelligence-masters-program-training-course"><i class="fi-play"></i> Artificial Intelligence Engineer</a></li>
            <li><a target="_blank" href="https://www.simplilearn.com/automation-testing-masters-program-certification-training-course"><i class="fi-play"></i> Automation Test Engineer</a></li>
        </ul>
    </div>
</div>

<div class="row callout sidebar secondary learning-sites">
    <div class="columns">
        <p class="sidebar-title">Affordable on-line learning resources</p>
        <ul class="no-bullet">
            {% for item in site.data.promos.online-learning-resources.items %}
            <li>
                <a href="{{ item.url }}" target="_blank">
                    <img src="{{ item.image }}"/>
                </a>
            </li>
            <li>
                <a href="{{ item.url }}" target="_blank">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>            
    </div>
</div>

<div class="row sidebar secondary">
    <div class="columns">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-2982733536601669",
                    enable_page_level_ads: true
                });
        </script>        
    </div>
</div>
