<div class="social-sharing-box">
    <div class="fb-share-button" 
        data-href="{{ site.url }}{{ page.url }}" 
        data-layout="button_count">
    </div>         

    <!-- Twitter sharing button from https://about.twitter.com/resources/buttons#tweet -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="takacsmark"></a>
    
    <script type="IN/Share" data-counter="right"></script> 
    
    <!-- Google plus sharing from https://developers.google.com/+/web/share/ -->
    <div class="g-plus" data-action="share" data-annotation="none"></div>
                
</div>