/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm,
article .post-thumb  {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    font-size: 130%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px !important;
    font-weight: 200;
    border-left: 4px solid $brand-color;
    padding-left: $spacing-unit / 2;
    // font-size: 18px;
    letter-spacing: -1px;
    // font-style: italic;
    font-weight: 200;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
.highlight>pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f8f5ec;

}

code {
    padding: 1px 5px;
}

pre {
    overflow-x: auto;
    margin-bottom: 0;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
pre.lineno, pre .gutter {
    padding: 6px 8px;
    background-color: $grey-color-light;
}
pre .code {
    padding: 6px 22px;
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.article-wrapper {
    @extend .wrapper;
    max-width: -webkit-calc(#{$article-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$article-width} - (#{$spacing-unit} * 2));
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Youtube video embend container styling
 */
.video-thumb {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video-thumb iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/**
 * Hidden class
 */
 .hidden {
     display: none;
 }


// img:not(:only-of-type) {
//     width: 45%;
// }

article img {
    display: block;
    box-sizing: border-box;
    margin: 0;
    float: left;
    padding: 3px;
}

/**
 * Awesome, simple gallery layout taken from here
 * http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
 */
@for $i from 1 through 4 {
    article img:first-child:nth-last-child(#{$i}),
    article img:first-child:nth-last-child(#{$i}) ~ img {
        width: #{100% / $i}
    }

} 
