<section>
    <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
    >
        <div class="carousel-inner shadow mx-auto">
            <div class="carousel-item active">
                <div class="card w-100 h-100">
                    <div class="row justify-content-center h-100">
                        <div
                            class="d-none d-md-block col-md-3 align-self-center"
                        >
                            <img
                                src="{{ site.url }}/assets/images/in-content/get-started-with-docker-in-your-projects-cover.png"
                                class="card-img shadow-sm "
                                alt="Get Started with Docker in your Projects by Mark Takacs"
                            />
                        </div>
                        <div class="col col-10 col-md-7 align-self-center">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Download the Docker Book!
                                </h5>
                                <p class="card-text">
                                    Learn Docker step-by-step through real-life
                                    examples from the book that I teach in
                                    corporate traninigs.
                                </p>
                                <a
                                    href="{{ site.url }}/get-started-with-docker-in-your-projects-through-examples"
                                    class="btn btn-primary btn-sm"
                                    >Available as free download until April
                                    31.</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card w-100 h-100">
                    <div class="row justify-content-center h-100">
                        <div
                            class="d-none d-md-block col-md-3 align-self-center"
                        >
                            <img
                                src="{{ site.url }}/assets/images/post-thumbs/prototype-this-cover.png"
                                class="card-img"
                                alt="What to prototype in 2020 and stay on top of your game? by Mark Takacs"
                            />
                        </div>
                        <div class="col col-10 col-md-7 align-self-center">
                            <div class="card-body">
                                <h5 class="card-title">
                                    What to Prototype in 2020? | Based on
                                    Stackoverflow Data
                                </h5>
                                <p class="card-text">
                                    Find trending prototyping ideas in the field
                                    of Machine Learning, Data Science,
                                    Application Development, Mobile and DevOps.
                                </p>
                                <a
                                    href="{{ site.url }}/prototype-this-2020/"
                                    class="btn btn-primary btn-sm"
                                    >Free PDF Download</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleCaptions"
            role="button"
            data-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
