---
layout: default
---

<!-- Featured Posts -->
<div class="container mt-4">
    {% include shared/featured.html %}
    <hr />
</div>

<!-- Article -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            {% include post/article.html %}
        </div>
    </div>
</div>

<!-- Inline Sponsored Links -->
{% include post/sponsored-link.html %}

<!-- Comments -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            {% include shared/comments.html %}
        </div>
    </div>
</div>
