---
layout: default
---
<article class="container" itemscope itemtype="https://schema.org/BlogPosting">

    <!-- Post Title -->
    <section class="row">
        <div class="col-1">
            <img class="img-fluid d-none" src="{{ site.url }}/assets/images/Mark.jpg" />
	</div>
        <div class="col-12">
            <h1 itemprop="name headline">{{ page.title }}</h1>
            <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </div>
    </section>
    <!-- End Post Title -->

    <!-- Main Content and Sidebar Container -->
    <section class="row" itemprop="articleBody">

        <!-- Main Content -->
        <div class="col-12">

            <!-- Video Thumb -->
            {% if page.videothumb %}
	    <div class="embed-responsive embed-responsive-16by9">
	        <iframe class="embed-responsive-item" src="{{ page.videothumb }}" allowfullscreen></iframe>
	    </div>
            {% endif %}
            <!-- End Video Thumb -->

            <!-- Post Content -->
            <section class="row" itemprop="articleBody">
                <div class="col-12">
	            {{ content }}
                </div>
            </section>

            <!-- Social Share -->
            <section class="row">
                <div class="col-12">
                    <span><b>Do you like this article? Share it!</b></span>
	            {% include social-share.html %}
                </div>
            </section>
        </div>
        <!-- End Main Content -->

        <!-- Sidebar -->
        <!-- TODO sticky sidebar -->
        <div class="col-12 d-none">
            {% include sidebar.html %}
        </div>
        <!-- End Sidebar -->
    </section>
    <!-- End Main Content and Sidebar Container -->
    

    
</article>

{% if site.disqus %}
<div class="container">
    <section class="row">
        <div id="disqus_thread" class="col-12"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus }}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</div>
{% endif %}
